.background{
    background-image: url(https://cdn.cnn.com/cnnnext/dam/assets/200126210422-27-kobe-bryant-gallery-restricted.jpg);
    background-position: center;

}
body{
    color:aliceblue;
}